.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.colorPicker{
    height: 50px;
    width: 70px;
    margin-bottom: 5px;
}
.powerPicker{
    width: 150px;
    background-color: rgb(145, 187, 241);
}