.landingContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.signin {
  height: 60px; /* You must set a specified height */
  width: 250px;
  background-image: url("./img/btn_google_signin_light_normal_web@2x.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.signin:hover {
  height: 60px; /* You must set a specified height */
  width: 250px;
  background-image: url("./img/btn_google_signin_light_focus_web@2x.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  cursor: pointer;
}
