<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Trip Planer</title>
  </head>

  <body>
    <header>
      <div class="logo">
        Smart Light
      </div>
    </header>

    <main>
      <h1 class="title">Plan Your Trip!</h1>
      <section id="planner">
        <form
          id="planner-form"
          class=""
        >
          <p>Color:</p>
          <input
            id="color-input"
            type="color"
            value="#000000"
            onchange="return Client.handleColor(event)"
          />
          <label>Power:</label>
          <input id="power-input" type="range" min="1" max="255" value="0" onchange="return Client.handlePower(event)">
          <button type="submit" onclick="return Client.handleSubmit(event)">Apply</button>
        </form>
      </section>
    </main>

    <footer>
      <p>Udacity Front End Nanodegree</p>
    </footer>
  </body>
</html>
