form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
  z-index: 2;
}

#planner {
  background: rgb(197, 236, 208);
  background: linear-gradient(
    18deg,
    rgba(197, 236, 208, 0.9302135854341737) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}

input:hover{
    border: 2px solid grey;
}

select:hover{
    border: 2px solid grey;
}