form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
  z-index: 2;
}



input:hover{
    border: 2px solid grey;
}

select:hover{
    border: 2px solid grey;
}